@model GrantApp.Models.SubProgramMaster

@{
    var filePath = Model.NewProgramInitiationModel.RequestFileDoc;
    var fileExtension = filePath.Split('.').Last().ToLower();
}

<div class="modal-header">
    <h5 class="modal-title" id="requestFileModalLabel">आ.व.२०८२/८३ का लागि सङ्घीय समपूरक तथा विशेष अनुदान अन्तर्गत संचालन हुने आयोजना वा कार्यक्रम छनौट सम्बन्धी सम्बन्धित स्थानीय तहको हकमा सम्बन्धित कार्यपालिकाको निर्णय (उपस्थिति सहित) र प्रदेशको हकमा सम्बन्धित प्रदेश योजना आयोगको सिफारिशमा प्रदेश सरकार मन्त्रिपरिषद्को निर्णय</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">
    @if (fileExtension == "jpg" || fileExtension == "jpeg" || fileExtension == "png")
    {
        <img src="@filePath" alt="Request File" style="max-width: 100%; height: auto;" />
    }
    else if (fileExtension == "pdf")
    {
        <embed src="@filePath" width="100%" height="500px" type="application/pdf">
    }
    else
    {
        <p>Unsupported file type.</p>
    }
</div>
