@model GrantApp.Models.NewProgramInitiation

<div class="modal-header">
    <h5 class="modal-title" id="requestFileModalLabel">
     माफ गर्नुहोस्
    </h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>


<div class="modal-body">

    <p>संख्या पुन निर्धारण गर्न तल अपलोड भएको शर्त घोषणा (पुरानो फाइल) र आयोजना वा कार्यक्रम हटाउनुहोस र पुन प्रयास गर्नुहोस् ।</p>

</div>

















