@model GrantApp.Models.NewProgramInitiation
@{
    ViewBag.Title = "Upload File";
    Layout = "~/Areas/VDCMUNLevel/Views/Shared/_VDCMUNLayout.cshtml";
}



@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}




<section>
    <div class="container-fluid">
        <!-- Page Header-->
        <div class="card text-center">
            <div class="card-body">
                @*<h3 class="card-title" style="color:red;">
                        सूचना: आगामी आ.व. को लागि समपूरक अनुदान तथा विशेष अनुदानतर्फ नँया आयोजना वा कार्यक्रमको प्रस्ताव पेश गर्नका लागि सर्वप्रथम कार्यपालिकाको निर्णय/मन्त्रिपरिषद्को निर्णय अपलोड गर्नुहोस ।
                    </h3>*@
            </div>


        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">

                        <h2>
                            आ.व.२०८३/८४ का लागि सङ्घीय समपूरक तथा विशेष अनुदान अन्तर्गत संचालन हुने आयोजना वा कार्यक्रम छनौट सम्बन्धी स्थानीय तहको हकमा सम्बन्धित कार्यपालिकाको निर्णय (उपस्थिति सहित) र प्रदेशको हकमा सम्बन्धित प्रदेश योजना आयोगको सिफारिशमा प्रदेश सरकार मन्त्रिपरिषद निर्णय
                        </h2>

                    </div>
                    <div class="card-body">

                        <form action="@Url.Action("UploadFile", "Grant")" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                @Html.HiddenFor(m => m.GrantType)
                                <input type="file" name="file" required />
                                <button type="submit">अपलोड गर्नुहोस् ।</button>
                            </div>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>















