@model GrantApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<style>
    .OfficeName span {
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 600;
    }

    .OfficeName small {
        color: #e00000;
        display: block;
        font-size: 16px !important;
        margin-top: 10px;
    }
</style>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>समपुरक तथा विशेष अनुदान</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom styles for this template -->
    @*<style>
            body {
                padding-top: 54px;
            }

            @@media (min-width: 992px) {
                body {
                    padding-top: 56px;
                }
            }
        </style>*@
</head>
<body class="login">
    <div class="login-overlay"></div>
    <div class="container">
        <div class="login-page">
            @*<figure class="visitnepal"><img src="~/AdminResources/img/Visit-Nepal_Logo.png" /></figure>*@
            <div class="form-outer text-center d-flex align-items-center login_box">

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-inner">
                        <div class="logo text-uppercase">
                            <figure>
                                <img src="~/AdminResources/img/photos/250px-Emblem_of_Nepal.svg.png" height="100px" width="100px" />
                            </figure>

                        </div>

                        <div class="OfficeName">
                            <small>नेपाल सरकार</small>
                            <span>राष्ट्रिय योजना आयोग</span><br />
                            सिंहदरवार, काठमाडौ
                            नेपाल
                            <br />
                            <span>विशेष/समपूरक अनुदान कार्यक्रम</span><br />

                            <span>पासवर्ड भुल्नु भयो ?</span><br />

                        </div>

                        @if ((string)TempData["Notification"] == "DateExpired")
                        {
                            <div style="background-color:#f4e7e7;font-weight:bold;">फाराम भर्ने मिति समाप्त भैसकेको छ ।</div>
                        }

                        <form method="get" class="text-left form-validate">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "प्रयोगकर्ता", required = "", autofocus = "" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                            </div>
                            
                            <div class="form-group text-center row">
                                <div class="col-md-4 text-left">
                                    <button type="submit" class="btn btn-sm btn-success btn-login"><i class="fa fa-sign-in">&nbsp;</i>ईमेलमा रिसेट गर्ने लिङ्क पठाउनुहोस ।</button>
                                </div>
                                

                            </div>
                        </form>
                    </div>
                    <div class="copyrights text-center">

                        <p> Copyright  &copy;नेपाल सरकार, राष्ट्रिय योजना आयोग ,2019 </p>
                        @*<p>ईमेल : mgrant@npc.gov.np,sgrant@npc.gov.np</p>
                <p>फोन : 01-4211158</p>*@





                    </div>
                }

            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>
</html>