
@{

    ViewBag.Title = "Register";
    Layout = null;
}
<style>
    .OfficeName span {
        font-size: 14px;
        line-height: 1.5em;
        font-weight: 600;
    }

    .OfficeName small {
        color: #e00000;
        display: block;
        font-size: 16px !important;
        margin-top: 10px;
    }
</style>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>समपुरक तथा विशेष अनुदान</title>
    <!-- Bootstrap core CSS -->
    <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/vendor/font-awesome/css/font-awesome.min.css">

    <link href="~/css/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=News+Cycle:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- Custom styles for this template -->
    @*<style>
            body {
                padding-top: 54px;
            }

            @@media (min-width: 992px) {
                body {
                    padding-top: 56px;
                }
            }
        </style>*@
</head>
<body class="login">
    <div class="login-overlay"></div>
    <div class="container">
        <div class="login-page">
            @*<figure class="visitnepal"><img src="~/AdminResources/img/Visit-Nepal_Logo.png" /></figure>*@
            <div class="form-outer text-center d-flex align-items-center login_box">



                <div class="jumbotron">
                    <h1 class="display-10">Error......Please try again.</h1>
                    @*<p class="lead">Please consult with administrator.</p>*@
                    <hr class="my-4">
                    @*<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                        <p class="lead">
                            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                        </p>*@
                </div>



                <!-- Bootstrap core JavaScript -->

            </div>
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>