/* your styles go here */
.dashboard-header h2{color:#379392; font-weight:600 !important; margin-bottom: 30px;}
.dash-center{border-left:1px solid #eee; border-right:1px solid #eee;}
.palika-info li{padding:.75rem 0rem}
.dashboard-header .card{padding:30px 0px;}
.palika-info li strong{font-size:1em;}
.palika-info .update-date{color:#4cb748;}
.side-navbar.shrink .brand-small:hover{text-decoration:none !important;}
.login-page{background:url("../img/bg-img-b.jpeg"); background-repeat: no-repeat;  
background-size: cover; position: relative;}

.login-page:before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom right,#000,#000);
	opacity: .7; 
  }