
@model GrantApp.Models.IndexViewModel
@{
    ViewBag.Title = "ProvinceIndex";
    Layout = "~/Areas/VDCMUNLevel/Views/Shared/_VDCMUNLayout.cshtml";
}


<div class="row">
    <div class="col-md-4">
        <p class="text-success">@ViewBag.StatusMessage</p>
    </div>
</div>




