/*
* ==========================================================
*     LOGIN PAGE
* ==========================================================
*/
.login {
    /*position: absolute;
    top: 0;
    right: 0;*/
    -webkit-transition: width 0.3s linear;
    transition: width 0.3s linear;
    /*width: calc(100% - 200px);*/
    background-color: #F4F7FA;
    min-height: 100vh;
    padding-bottom: 50px;
    height: 100vh;
}

.login-page,
.register-page {
    width: 100%;
    min-height: auto;
    padding-bottom: 0;
}

    .login-page .form-outer,
    .register-page .form-outer {
        min-height: 100vh;
        max-width: 420px;
        margin: 0 auto;
        padding: 20px 0;
        position: relative;
    }

        .login-page .form-outer h4, .register-page .form-outer h4 {
            text-align: left;
            margin-bottom: 100px;
        }

    .login-page .copyrights,
    .register-page .copyrights {
        position: absolute;
        right: 0;
        bottom: 43px;
        width: 100%;
    }

        .login-page .copyrights a, .register-page .copyrights a {
            color: #0073aa;
        }

        .login-page .copyrights p,
        .register-page .copyrights p {
            font-size: 1em;
            font-weight: 500;
            margin-bottom: 10px;
            color: #000;
        }

    .login-page .form-inner,
    .register-page .form-inner {
        padding: 30px;
        background: #fff;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.30);
        box-shadow: 0 1px 3px rgba(0,0,0,.30);
        margin-bottom: 20px;
        border-radius: 4px;
    }

    .login-page .logo,
    .register-page .logo {
        font-size: 2em;
        font-weight: 500;
    }

        .login-page .logo span,
        .register-page .logo span {
            color: #ccc;
        }

    .login-page p,
    .register-page p {
        font-size: 0.8em;
        font-weight: 300;
        color: #666;
        margin-bottom: 0;
    }

    .login-page form,
    .register-page form {
        margin: 2rem auto 1rem;
        max-width: 400px;
        min-width: 360px;
    }

    .login-page a.forgot-pass,
    .login-page a.signup,
    .register-page a.forgot-pass,
    .register-page a.signup {
        font-size: 0.65em;
        color: #0073aa;
    }

        .login-page a.forgot-pass:hover, .login-page a.forgot-pass:focus,
        .login-page a.signup:hover,
        .login-page a.signup:focus,
        .register-page a.forgot-pass:hover,
        .register-page a.forgot-pass:focus,
        .register-page a.signup:hover,
        .register-page a.signup:focus {
            color: #66b0ff;
            text-decoration: none;
        }

    .login-page a.forgot-pass,
    .register-page a.forgot-pass {
        display: block;
    }

    .login-page a.create-account,
    .register-page a.create-account {
        border-radius: 50px;
        font-size: 0.75em;
        margin-top: 10px;
        color: #999;
        text-transform: uppercase;
    }

    .login-page .terms-conditions,
    .register-page .terms-conditions {
        margin-top: 20px;
    }

    .login-page small,
    .register-page small {
        font-size: 0.65em;
        color: #666;
        line-height: 0.9em;
    }

.OfficeName {
    margin-bottom: 15px;
    line-height: 30px;
}

    .OfficeName small {
        color: #ff0000;
        margin-bottom: 5px;
        display;
        block;
    }

.btn-login {
    padding: 5px 15px;
    font-weight: 600;
}

.btn-user-manual a {
    background: #fff;
    color: #ff0000;
    padding: 3px 15px;
    border: 1px solid #ff0000;
    border-radius: 4px;
    margin-top: 1px;
    display: inline-block;
}

    .btn-user-manual a:hover {
        color: #fff;
        background: #ff0000;
        text-decoration: none;
    }

.login {
    background-image: url('../AdminResources/img/login_bg.png');
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}

.login-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #d9edffe6;
}

.login-page figure.visitnepal {
    text-align: center;
    position: absolute;
    top: 0px;
    z-index: 999;
    right: 0;
    left: auto;
}

    .login-page figure.visitnepal img {
        max-height: 200px;
        max-width: 100%;
    }
