
<div class="table-responsive">

    <div id="DetailsReportsID">
        @if(ViewBag.ErrorMessage==null || ViewBag.ErrorMessage== "ErrorMessage")
        {
        <span>कृपया गा.पा./न.पा. छान्नुहोस</span>
        }
        else
        {
            <span>@ViewBag.ErrorMessage</span>
        }

    </div>
</div>